text {
    text-align:center;
    font-size: 12px;
}

line {
    stroke-dasharray: 2,2;
}

.num-states{
    width: 60%;
/*    margin-top: 10px;*/
}

.new-chain{
    margin-top: 10px;
}

.obs-entry{
    width: 8%;
    position:relative;
}

.check-row{
    text-align:center;
}

.side-labels{
    font-size: 12px;
    text-align:right;
}

.icon{
    position:absolute;
    margin-top: 4px;
}