text {
    text-align:center;
    font-size: 12px;
}

.chart-container line {
    //stroke-dasharray: 2,2;
}

.num-states{
    width: 10%;
    margin: 5px;
}

/*
.new-chain{
    margin-top: 10px;
}
*/
.previous-state{
    float: right;
}
.next-state{
    float: right;
}

.obs-entry{
    width: 8%;
    position:relative;
}

.check-row{
    text-align:center;
}

.side-labels{
    font-size: 12px;
    text-align:right;
}

.icon{
    position:absolute;
    margin-top: 4px;
}

.hero-unit h2 small {
	color: black;
}

.graph-container line{
    stroke: black;
}

.icon-ok{
    color: green;
}

.icon-remove{
    color: red;
}

span{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*.graph-container{
    background-color: gray;
}*/